<!--File name: comp229-assignment2
Student Name: Alessandra Primatesta
Student ID: 301.297.110
Date: June 18, 2023-->

<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

<%- include partials/welcome.ejs%>

<div class="aboutinfo">
    <p>Hi, I'm Alessandra Primatesta</p>
    <img src="/assets/images/ap-headshot.png" alt="headshot">
    <p>I am an ambitious, proactive and highly motivated to learn new things due to my passion<br>
         for technology and desire to make a positive impact in my professional and personal life. 
         
         <br>
    <p><a href="assets/documents/Analyst Resume - AP 2023.pdf" download target="_blank">Resume</a></p>
    <br>

</div>
  
<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>