<!--File name: comp229-assignment2
Student Name: Alessandra Primatesta
Student ID: 301.297.110
Date: June 18, 2023-->

<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

<%- include partials/welcome.ejs%>

<main class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-8">
            
            <table class="table table-bordered table-striped table-hover">
                
                <!-- Header Row -->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Email</th>
                </tr>
                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < businessContactsList.length; count++) { %>
                <tr>
                    <td class="text-center"><%= businessContactsList[count].name %></td>
                    <td class="text-center"><%= businessContactsList[count].number %></td>
                    <td class="text-center"><%= businessContactsList[count].email %></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
  
<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>