<!--File name: comp229-assignment2
Student Name: Alessandra Primatesta
Student ID: 301.297.110
Date: June 18, 2023-->

<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

<%- include partials/welcome.ejs%>

<div class="homeinfo">
  <p>Welcome to my page!</p>
  <br>
  <p><a href="about">About Me</a></p>
  <br>
  <p>Keep it Crisp and do what makes you happy :)</p>
</div>
  
<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>

