<!--File name: comp229-assignment2
Student Name: Alessandra Primatesta
Student ID: 301.297.110
Date: June 18, 2023-->

<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

<%- include partials/welcome.ejs%>

<div class="projectsinfo">
    <p>I am currently a Software Engineering Technology student at Centennial College and am proud of the many <br>
    projects I have created thus far. My three favourite projects that I have worked on are as follows:</p>
    <br>
    <h4>Project 1 - Multiplication Table </h4>
    <img src="/assets/images/multiplicationtable.png" alt="multiplicationapp"><br>
    <p>For this project, I created an app using javascript that will generate the multiplication tables for the<br>
    user after they enter the amount of rows and columns they wish to see by the click of a button.</p>
    <br>
    <h4>Project 2 - Interactive Slideshow </h4>
    <img src="/assets/images/Interactiveslide.png" alt="interactiveslide">
    <img src="/assets/images/Interactiveslide2.png" alt="interactiveslide2"> <br>
    For this project, I created a slideshow using javascript where the user can manually click on the arrows <br>
    in the slideshow to see the photos below or hit the play button to automatically have the page scroll through <br>
    the photos. The user can then click on the photo to maximize it and choose to add it as a favourite. If they <br>
    would like to remove the photo they are able to as well after clicking on the image in the My Favourites bar. </p>
    <br>
    <h4>Project 3 - Whack that mosquito game </h4>
        <img src="/assets/images/mosquitogame.png" alt="mosquitogame"><br>
        <p>For this project, I created a game using javascript where the user needs to click (and pretends to whack) <br>
        the mosquito while it moves around the defined window to gain points and increase their score. <br>
        The mosquito movement increases in speed as time goes on but the user could always reset the <br>
        speed and the score by the click of a button.  </p>
        <br>
</div>
  
<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>