<!--File name: comp229-assignment2
Student Name: Alessandra Primatesta
Student ID: 301.297.110
Date: June 18, 2023-->

<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

<%- include partials/welcome.ejs%>

<div class="servicesinfo">
    <p>Currently, all of my service are performed at a rate of $40/hour. <br>
        Customized pricing is available depending on the project. Please <a href="/contact">Contact Me</a> for custom pricing.</p>
    

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Services Offered</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Website design</td>
              </tr>
              <tr>
                <td>Web development</td>
              </tr>
              <tr>
                <td>General programming</td>
              </tr>
              <tr>  
                <td>Application creation</td>
              </tr>
            </tbody>
          </table>
</div>
  
<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>