<!--File name: comp229-assignment2
Student Name: Alessandra Primatesta
Student ID: 301.297.110
Date: June 18, 2023-->

<%- include ../partials/header.ejs%>

<%- include ../partials/main_nav.ejs%>

<%- include ../partials/welcome.ejs%>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            
            <table class="table table-bordered table-striped table-hover">
                
                <!-- Header Row -->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
                <!-- Repeatable Template Row -->
                <% for(let count = 0; count < businessContactsList.length; count++) { %>
                <tr>
                    <td class="text-center"><%= businessContactsList[count].name %></td>
                    <td class="text-center"><%= businessContactsList[count].number %></td>
                    <td class="text-center"><%= businessContactsList[count].email %></td>
                    <td class="text-center">
                        <a href="/business-contacts/update/<%= businessContactsList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-pen-to-square"></i> Update </a>
                    </td>
                    <td class="text-center">
                        <a href="/business-contacts/delete/<%= businessContactsList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-trash"></i> Delete </a>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
  
<%- include ../partials/bottom_nav.ejs%>

<%- include ../partials/footer.ejs%>